<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='stylesheets/style.css'>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="logo-div">
        <img src="images/logo.png" id="logo"/>
      </div>
      <h1>get an sms when your favorite streamer is live</h1>
      <div class="form" id="form">
        <input type="text" class="form-control" placeholder="3125555555" id="phone"/>
        <br>
        <button id="submit" class="btn btn-primary btn-medium">sign me up!</button>
      </div>
    </div>
  </body>
</html>
