html {
  /*background-color: rgba(52, 152, 219,.2);*/
  background: url('http://i.4cdn.org/wg/1446359693504.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding: 15%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba(52, 152, 219,.2);
  height:100vh;
  width: 100vw;
}

a {
  color: #00B7FF;
}

.text-center {
  text-align: center;
}

#logo {
  width:300px;
}
#logo-div {
  width:300px;
  margin-left: auto;
  margin-right: auto;
}
#main {
  width:700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
.form {
  margin-top: 150px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
